@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px auto;
    padding: 0px auto;
}
.container{
    margin: 5%;
    display: block;
    font-family: "roboto,Noto Sans Myanmar UI",arial,sans-serif;
}
    .row-cols-auto-center{
        /* width: 280px; */
        box-sizing: inherit;
        padding: 48px 40px 36px;
        /* min-width: 450px; */
        /* max-width: 100%; */
        /* min-height: 500px; */
    }
        .main-content{
            border: 1px solid #dadce0;
            border-radius: 8px;
            flex-shrink: 0;
            font-size: 14px;
            display: block;
            width: 468px;
            min-height: 408px;
            padding: 48px 40px 36px;

        }
            .top-main{
                display: block;
                font-family: Helvetica, Arial, sans-serif;
                margin-bottom: 10px;
            }
                .top-main h4{
                    font-size: 22px;
                    text-align: center;
                    font-style: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
                    color: black;
                }
                    .top-main p{
                        text-align: center;
                        font-size: 16px;
                        font-family: "Noto Sans Myanmar UI",arial,sans-serif;
                        color: black;
                        margin-bottom: px;
                    }
                    .svg-logo{
                        display: block;
                    }
                .login-form{
                    display: block;
                    margin: 35px 0px;
                }
                        #email-id{
                            font-size: 16px;
                            height: 56px;
                            padding: 13px 15px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        .login-form a{
                            display: inline-block;
                            text-decoration: none!important;
                            font-size: 15px;
                            letter-spacing: 0.25px;
                            border-radius: 10px;
                            font-weight: 550;
                            font-family: 'Roboto', sans-serif;
                            color: rgb(26,115,232);
                        }
                        .reminder{
                            /* text-align: justify; */
                            display: block;
                            padding-bottom: 3px;
                            padding-top: 9px;
                            font-size: 15px;
                        }
                            .reminder a{
                                display: inline-block;
                                text-decoration: none!important;
                                font-size: 15px;
                                letter-spacing: 0.25px;
                                border-radius: 10px;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 550;
                                color: rgb(26,115,232);
                            }
                        .additional-help{
                            margin: 35px 0px;
                            display: inline-block;
                            font-size: 15px;
                        }
                            .ca-a{
                                display: inline-block;
                                text-decoration: none!important;
                                text-align: left;
                                margin-right: 100px;
                                letter-spacing: 0.25px;
                                font-weight: 550;
                                color: rgb(26,115,232);
                                font-family: 'Roboto', sans-serif;
                            }
                            .next-button{
                                font-family: 'Roboto',sans-serif;                                
                                letter-spacing: 0.25px;
                                font-weight: 500;
                                vertical-align: top;
                                display: inline-block;
                                color: white;
                                border: none;
                                border-radius: 3px;
                                background-color: rgb(26,115,232); 
                                /* padding: 2px 18px 2px 18px; */
                                margin-left: 90px;
                                height: 35px;
                                width: 79px;
                                top: 50%;
                                box-sizing: inherit;
                                
                            }
    .footer-main{
        display: block;
        position: relative;
        width: 500px;
        font-size: 12px;
        padding: 10px 0px;
        align-content: center;
        
    }
        .dropdown{
            display: block;
            margin-right: 16px;
        }
        .help-list{
            display: inline-block;
        }
            .footer-main li{
                display: inline-block;
                list-style: none; 
            }
            .footer-main a{
                text-decoration: none!important;
                color: rgb(60,64,67);
                padding: 12px;
                box-sizing: inherit;
                font-family: "Noto Sans Myanmar UI",arial,sans-serif;
                outline: none;
                flex-wrap: wrap;
                font-size: 12px;
            }
            .dropdown{
                outline-color: transparent;
            }
                .btn{
                   text-decoration: none;
                   border-color: transparent!important;
                }
            .help-list{
                position: relative;
                margin-left: 67px;
            }
